@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
        font-family: "Work Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
}
/* shared styles */
.flex {
        display: flex;
}
.halka-orange {
        background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
       background: rgb(255, 144, 14);
       color: white;
       border-radius: 8px;
       border: none;
       padding: 1rem 1.5rem ;
       font-size: 1.25rem;
       font-weight: 600;
       cursor: pointer;
}
.main{
       max-width: 1340px;
       margin: 0px auto;
}

/* header styles */
.navbar {
        max-width: 1340px;
        margin: 0px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
}
.brand {
        color: rgb(19, 19, 19);
        font-family: Work Sans;
        font-size: 3rem;
        font-weight: 700;
        cursor: pointer;
}
.nav-item {
        list-style: none;
        margin-right: 30px;
}
.nav-link {
        color: rgb(66, 66, 66);
        text-decoration: none;
        font-size: 18px;
        font-weight: 500;
}
.banner{
       max-width: 1340px;
       margin: 0px auto;
       padding-bottom: 3rem;
}
.banner-content {
        max-width: 850px;
        margin: 0px auto;
        text-align: center;
        margin-bottom: 50px;
}
.banner-title {
        color: rgb(19, 19, 19);
        font-size: 4rem;
        font-weight: 700;
        line-height: 75px;
}
.banner-description {
        color: rgb(114, 114, 114);
        font-family: Work Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
}
.banner-img{
       width: 100%
}
.teams{
       padding: 6rem 4rem 3rem 4rem;
       display: flex;
       gap: ;
}
.team-img-container{
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       grid-template-rows: repeat(2, 1fr);
       width: 55%;
       gap: 20px;
}
.team-img-container img{
       width: 100%;
}
.our-features{
       width: 45%;
       margin: auto auto;
       padding: 0px 0px 0px 4rem ;
}
.span1{
       font-weight: 500;
       font-size: 3rem;
       color: rgb(114, 114, 114);
}
.span2{
       font-weight: 700;
       font-size: 3rem;
       color: rgb(19, 19, 19);
}
.span3{
       font-weight: 700;
       font-size: 3rem;
       color: rgb(255, 144, 14);
}
.feature-description{
       text-align: justify;
       font-weight: 400;
       font-size: 1rem;
       line-height: 1.7rem;
       padding: 1rem 0px;
       color: rgb(114, 114, 114);
}

/* responsive media query */
@media  screen and (max-width:576px) {
       header, .teams{
              padding: 10px 25px;
       }
       .navbar{
              flex-direction: column;
       }
       .teams{
        flex-direction: column;
       }
       .team-img-container{
              width: 100%;
              grid-template-columns: repeat(1, 1fr);
              grid-template-rows: repeat(1, 1fr);
       }
       .our-features{
              width: 100%;
              padding: 2rem 0px 0px 0px;
       }
}

