@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
        font-family: "Work Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
}
/* shared styles */
.flex {
        display: flex;
}
.halka-orange {
        background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
       background: rgb(255, 144, 14);
       color: white;
       border-radius: 8px;
       border: none;
       padding: 1rem 1.5rem ;
       font-size: 1.25rem;
       font-weight: 600;
       cursor: pointer;
}


/* header styles */
header{
     
}
.navbar {
        max-width: 1340px;
        margin: 0px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
}
.brand {
        color: rgb(19, 19, 19);
        font-family: Work Sans;
        font-size: 3rem;
        font-weight: 700;
        cursor: pointer;
}
.nav-item {
        list-style: none;
        margin-right: 30px;
}
.nav-link {
        color: rgb(66, 66, 66);
        text-decoration: none;
        font-size: 18px;
        font-weight: 500;
}
.banner{
       max-width: 1340px;
       margin: 0px auto;
}
.banner-content {
        max-width: 850px;
        margin: 0px auto;
        text-align: center;
        margin-bottom: 50px;
}
.banner-title {
        color: rgb(19, 19, 19);
        font-size: 4rem;
        font-weight: 700;
        line-height: 75px;
}
.banner-description {
        color: rgb(114, 114, 114);
        font-family: Work Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
}
.banner-img{
       width: 100%
}

/* responsive media query */
@media  screen and (max-width:576px) {
       header{
              padding: 10px 25px;
       }
       .navbar{
              flex-direction: column;
       }
}

