@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
        font-family: "Work Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
}
/* shared styles */
.flex {
        display: flex;
}
.halka-orange {
        background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary {
        background: rgb(255, 144, 14);
        color: white;
        border-radius: 8px;
        border: none;
        padding: 1rem 1.5rem;
        font-size: 1.25rem;
        font-weight: 600;
        cursor: pointer;
}
.main {
        max-width: 1340px;
        margin: 0px auto;
}

/* header styles */
.navbar {
        max-width: 1340px;
        margin: 0px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
}
.brand {
        color: rgb(19, 19, 19);
        font-family: Work Sans;
        font-size: 3rem;
        font-weight: 700;
        cursor: pointer;
}
.nav-item {
        list-style: none;
        margin-right: 30px;
}
.nav-link {
        color: rgb(66, 66, 66);
        text-decoration: none;
        font-size: 18px;
        font-weight: 500;
}
.banner {
        max-width: 1340px;
        margin: 0px auto;
        padding-bottom: 3rem;
}
.banner-content {
        max-width: 850px;
        margin: 0px auto;
        text-align: center;
        margin-bottom: 50px;
}
.banner-title {
        color: rgb(19, 19, 19);
        font-size: 4rem;
        font-weight: 700;
        line-height: 75px;
}
.banner-description {
        color: rgb(114, 114, 114);
        font-family: Work Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
}
.banner-img {
        width: 100%;
}
.teams {
        padding: 6rem 4rem 3rem 4rem;
        display: flex;
}
.team-img-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        width: 55%;
        gap: 20px;
}
.team-img-container img {
        width: 100%;
}
.our-features {
        width: 45%;
        margin: auto auto;
        padding: 0px 0px 0px 4rem;
}
.span1 {
        font-weight: 500;
        font-size: 3rem;
        color: rgb(114, 114, 114);
}
.span2 {
        font-weight: 700;
        font-size: 3rem;
        color: rgb(19, 19, 19);
}
.span3 {
        font-weight: 700;
        font-size: 3rem;
        color: rgb(255, 144, 14);
}
.feature-description {
        text-align: justify;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.7rem;
        padding: 1rem 0px;
        color: rgb(114, 114, 114);
}

.feature-enjoy {
        margin-top: 3rem;
        margin-bottom: 7rem;
        display: flex;
        justify-content: space-between;
        gap: 130px;
}
.feature-details {
        max-width: 45%;
}
.feature-enjoy-title {
        color: rgb(19, 19, 19);
        font-size: 3rem;
        font-weight: 700;
        line-height: 4.2rem;
        border-left: 5px solid rgb(255, 144, 14);
        padding-left: 1.2rem;
}
.feature-enjoy-description {
        color: rgb(114, 114, 114);
        font-size: 1rem;
        font-weight: 400;
        line-height: 26px;
}

.feature-enjoy-card {
        margin-bottom: 1em;
        padding: 0.4rem 1.5rem;
        border-radius: 8px;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
        background: rgb(255, 255, 255);
}
.feature-enjoy-card h3 {
        color: rgb(19, 19, 19);
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.5rem;
}
.feature-enjoy-card p {
        color: rgb(114, 114, 114);
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.6rem;
        text-align: justify;
}
.feature-image {
        position: relative;
        width: 55%;
}
.feature-image img {
        width: 100%;
        height: auto;
}
.feature-image-card {
        position: absolute;
        bottom: 10px;
        left: -80px;
        height: 200px;
        width: 342px;
        border-radius: 8px;
        background: rgb(255, 144, 14);
        color: white;
        text-align: center;
}
.feature-image-card h1 {
        font-size: 3.5rem;
        line-height: 40px;
}
.feature-image-card P {
        font-size: 1.6rem;
}

.section-title {
        color: rgb(19, 19, 19);
        font-size: 2.7rem;
        font-weight: 700;
}
.section-description {
        color: rgb(114, 114, 114);
        font-family: Work Sans;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.6rem;
}
.some-facts-divs {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
}
.facts-box {
        margin: 4rem 0px;
        box-sizing: border-box;
        border: 1px solid rgb(255, 144, 14);
        border-radius: 8px;
        text-align: center;
        width: 242px;
        height: 242px;
}
.facts-box > img {
        padding-top: 30px;
}
.fact-box-number {
        color: rgb(66, 66, 66);
        font-size: 2.5rem;
        font-weight: 600;
}
.fact-box-description {
        color: rgb(114, 114, 114);
        font-size: 1.2rem;
        font-weight: 600;
}

.sponser {
        max-width: 1340px;
        margin: 5rem auto;
}
.sponser-text {
        text-align: center;
        margin: 0px auto;
        max-width: 542px;
}
.sponser-title {
        color: rgb(19, 19, 19);
        font-family: Work Sans;
        font-size: 2.5rem;
        font-weight: 700;
}
.sponser-description {
        color: rgb(114, 114, 114);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.7rem;
}
.sponser-img {
        justify-items: center;
        padding-top: 2rem;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
}
.sponser-img > img {
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
}
footer {
        max-width: 1340px;
        margin: 4rem auto 10rem;
}
.footer {
        background: rgb(255, 244, 231);
        border-radius: 8px;
}
.footer p {
        padding: 2.5rem 10px;
        text-align: center;
        color: rgb(66, 66, 66);
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 2rem;
}

/* responsive media query (mobile devices)*/
@media screen and (max-width: 576px) {
        header,
        .teams {
                padding: 10px 25px;
        }
        .navbar {
                flex-direction: column;
        }
        .teams {
                flex-direction: column;
        }
        .team-img-container {
                width: 100%;
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: repeat(1, 1fr);
        }
        .our-features {
                width: 100%;
                padding: 2rem 0px 0px 0px;
        }
        .feature-enjoy {
                margin-top: 1rem;
                margin-bottom: 0rem;
                flex-direction: column;
                padding: 40px 25px;
                gap: 30px;
        }
        .feature-details {
                display: flex;
                flex-direction: column;
                max-width: 100%;
        }
        .feature-image {
                position: relative;
                width: 100%;
                align-content: center;
        }
        .feature-image-card {
                position: relative;
                margin: 0px auto;
                text-align: center;
                left: 0px;
                bottom: 0px;
        }
        .feature-image-card h1{
              font-size: 3rem;
              padding-top: 40px;
              line-height: 40px;
       }
       .feature-image-card P{
              font-size: 1.6rem;
       }
        .some-facts {
              margin: 1rem 0px;
                padding: 40px 25px;
        }
        .some-facts-divs {
                grid-template-columns: repeat(1, 1fr);
        }
        .facts-box {
                margin: 1.5rem 0px;
        }

        .sponser-img {
                grid-template-columns: repeat(1, 1fr);
                gap: 2rem;
        }
        footer {
                margin: 0px auto 2rem;
                padding: 0px 25px;
        }
}

/* responsive media query (medium devices)*/
@media screen and (min-width: 577px) and (max-width: 992px) {
        header,
        .teams {
                padding: 10px 25px;
        }
        .teams {
                flex-direction: column-reverse;
        }
        .team-img-container {
                width: 100%;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(1, 1fr);
        }
        .our-features {
                width: 80%;
                padding: 2rem 40px 50px 40px;
        }


        .feature-enjoy {
              margin-top: 1rem;
              margin-bottom: 0rem;
              flex-direction: column;
              padding: 40px 25px;
              gap: 30px;
      }
      .feature-details {
              display: flex;
              flex-direction: column;
              max-width: 100%;
      }
      .feature-image {
              position: relative;
              width: 100%;
              align-content: center;
      }
      .feature-image-card {
              position: relative;
              margin: 0px auto;
              text-align: center;
              left: 0px;
              bottom: 0px;
      }
      .feature-image-card h1{
            font-size: 3rem;
            padding-top: 40px;
            line-height: 40px;
     }
     .feature-image-card P{
            font-size: 1.6rem;
     }




        .some-facts {
                padding: 40px 25px;
        }
        .some-facts-divs {
                grid-template-columns: repeat(2, 1fr);
        }
        .facts-box {
                margin: 1.5rem 0px;
        }
        .sponser-img {
                grid-template-columns: repeat(3, 1fr);
                gap: 2rem;
        }
        footer {
                margin: 0px auto 2rem;
        }
        .footer {
                margin: 0px 25px;
        }
}
